@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #54bd95;
  --color-gold: #ffc728;
  --color-primary-light: #52bdaa;
  --color-primary-light-200: #54be96;
  --color-primary-dark: #439777;
  --color-pink-light: #ffd6d6;
  --color-secondary: #161c28;
  --color-secondary-light: #222938;
  --color-text: #191a15;
  --color-light: #a6a6a6;
  --color-black: #000000;

  --breakpoint-xs: 480px;
  --animate-fade-in: 2s fade-in 1500ms ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background: #ffffff;
    color: #191a15;
    overflow-x: hidden;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-[80px] max-md:text-[50px] max-md:leading-[1.2] font-bold leading-tight tracking-[-1%]  sm:text-[64px] sm:leading-[76px] text-text;
  }

  h2 {
    @apply text-[50px] font-bold leading-tight max-md:text-[30px];
  }

  h3 {
    @apply text-[30px] font-bold max-md:text-[20px];
  }

  p {
    @apply text-base max-md:text-sm;
  }
  section {
    @apply px-20 py-10 max-md:px-8 max-xs:px-5;
  }
  footer {
    @apply px-20 py-8 bg-secondary text-white max-md:px-8 max-xs:px-5;
  }
}

@layer components {
  .rounded-btn {
    @apply bg-primary text-white rounded-full px-5 py-3 font-medium text-base max-md:text-[14px] border-none cursor-pointer transition duration-300;
  }
  .square-btn {
    @apply bg-primary text-white rounded-lg px-5 py-2 font-bold text-base max-md:text-[14px] border-none cursor-pointer transition duration-300;
  }

  .nav-li {
    @apply flex gap-[20px] font-medium text-light max-lg:flex-col max-lg:h-full max-lg:gap-16 max-lg:items-center;

    & .nav-active {
      @apply text-black;
    }
  }

  /* pricing section */
  .pricing-card {
    @apply rounded-lg p-3 flex flex-col items-center;
  }
  .list-container {
    @apply p-5 flex flex-col text-text rounded-lg;
  }
  .pricing-plan_odd {
    @apply odd:bg-white;

    & .list-container {
      @apply group-odd:bg-[#F9FAFB];
    }

    & button {
      @apply group-odd:text-primary odd:bg-white w-full;
    }
  }

  .pricing-plan_even {
    @apply even:text-white even:bg-primary;

    & .list-container {
      @apply group-even:bg-white;
    }

    & button {
      @apply group-even:text-white even:bg-primary;
    }
  }
}
